.country-info {
	width: 340px;
	height: auto;
	position: absolute;
	top: calc(50% - 220px);
	left: calc(100vw - 350px);
	background-color: rgba(0, 0, 0, .9);
	box-shadow: -2px -2px 50px 2px rgba(0, 0, 0, 0.2);
	z-index: 15;
	@include flex-nowrap-column-center();
	&__title {
		width: 100%;
		height: 30px;
		text-align: center;
		margin: 10px 0;
		font-family: $mainFont;
		font-weight: bold;
		font-size: 1.5rem;
		text-transform: uppercase;
		color: $default-color;
		padding-bottom: 3px;
	}
	&__elements-list {
		width: 100%;
		height: auto;
		margin-top: 5px;
		@include flex-nowrap-column-center();
	}
	&__del-button {
		width: 50px;
		height: 30px;
		color: $default-color;
		position: absolute;
		top: 0;
		left: calc(100% - 55px);
		border: none;
		background-color: inherit;
	}
	&__graph{
		width: 100%;
		height: 40%;
		margin: 0;
	}
	&__forecast-conteiner{
		width: 340px;
		height: auto;
		position: absolute;
		top: 0;
		left: -105%;
		@include flex-nowrap-column-center();
		background-color: rgba(0, 0, 0, .8);
	}
	&__forecast-canvas{
		width: 100%;
		height: 30%;
		margin: 0;
		@include flex-nowrap-column-center();
	}
}

.country-info__title::after {
	content: "";
	display: block;
	width: 50%;
	height: 2px;
	margin: 0 25%;
	background-color: $default-color;
}

.elements-list__element {
	width: 90%;
	height: 40px;
	@include flex-nowrap-row-center();
}

.element {
	width: 50%;
	height: 100%;
	margin: 0;
	font-size: 1.2rem;
	color: $default-color;
	text-transform: uppercase;
}

.element-value {
	padding-right: 10px;
	text-align: right;
}

.element-name {
	padding-left: 10px;
	text-align: left;
}

.current-date__conteiner{
	width: 100%;
	height: auto;
	margin: auto;
	text-align: center;
	font-family: $mainFont;
	font-size: 18px;
	color: $default-color;
}

@media screen and (max-width: 575px) {
	.country-info {
		width: 100vw;
		top: 380px;
		left: 0;
		background-image: $bg-gradient;
		z-index: 10;
	}
}
