@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/_textmixin";
// @import "utils/_reset";
@import "utils/_normalize";
@import "utils/_smart-grid";

//   @include col();
//   @include size(2);
//   @include size-xl(2); /* при 1200px - На планшете по ... колонок */
//   @include size-lg(2); /* при 992px - На планшете по ... колонок */
//   @include size-md(2); /* при 768px - На планшете по ... колонок*/
//   @include size-sm(2); /* при 576px - На телефоне по ... колонок*/
//   @include size-xs(2); /* при 320px - На телефоне с маленьким экраном по ... колонок */
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
.header {
	background: $success-color;
	height: 60px;
	position: fixed;
	width: 100%;
	z-index: 10;
	&__body {
		display: flex;
	}
	&__menu {
		width: 260px;
		height: 100vh;
		background: $warning-color;
		position: absolute;
		left: 0;
		z-index: 5;
		transform: translate(-100%, 0);
		transition: all 0.4s linear 0.1s;
		overflow: auto;
	}
	.header__menu.active {
		transform: translate(0, 0);
	}
	&__list {
		padding: 90px 0px 0px 60px;
		display: flex;
		flex-direction: column;
		margin: 0 auto;
		li {
			margin: 0px 0px 14px 0px;
			transition: all 0.4s ease-in 0.2s;
			list-style-type: none;
			text-transform: uppercase;
			@include adaptiv-font(25, 20);
			&:hover {
				transform: scale(1.05);
			}
		}
		a {
			text-decoration: none;
			color: #fff;
			letter-spacing: 1.2px;
			transition: all 0.4s linear 0.2s;
			&:hover {
				color: $danger-color;
			}
		}
	}
	&__toggle {
		display: block;
		top: 20px;
		left: 20px;
		z-index: 50;
		position: fixed;
		width: 35px;
		height: 22px;
		cursor: pointer;
		span {
			background: $danger-color;
			position: absolute;
			left: 0;
			width: 100%;
			height: 2px;
			top: 10px;
			transition: all 0.3s ease 0.2s;
		}
		&:before,
		&:after {
			content: "";
			background: $danger-color;
			position: absolute;
			width: 100%;
			height: 2px;
			left: 0;
			transition: all 0.3s ease 0.2s;
		}
		&:before {
			top: 0;
		}
		&:after {
			bottom: 0;
		}
	}
	.active {
		span {
			transform: scale(0);
		}
	}
	.active::before {
		transform: rotate(45deg);
		top: 11px;
	}
	.active::after {
		transform: rotate(-45deg);
		bottom: 9px;
	}
}
.container {
	max-width: 1900px;
	padding: 0px 10px;
}
