.main-content {
	width: 100%;
	height: calc(100vh - 150px);
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-areas:
		"header header"
		"nav article";
	grid-template-rows: 60px 1fr;
	grid-template-columns: 350px 1fr;
	grid-gap: 10px;
	grid-column-gap: 10px;
	z-index: 10;
}

.main__header {
	grid-area: header;
	@include flex-nowrap-row-center();
}

.main__navigation {
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
	position: relative;
	& .nav__wrapper-input {
		padding: 10px 0px 10px 10px;
		position: sticky;
		top: 0;
		z-index: 3;
		background-color: $default-color;
	}
	& .nav__search-input {
		width: 80%;
		height: 30px;
		margin-left: 10%;
		padding-left: 10px;
		border-radius: 10px;
		border: none;
		font-family: $mainFont;
		@include adaptiv-font(23, 18);
		color: $green-bg-color;
		box-shadow: 0 2px 3px #575555 inset;
	}
	& .nav__country-list {
		margin: 10px 0px 0px 0px;
		position: relative;
		z-index: 1;
		li {
			display: flex;
			list-style-type: none;
			text-transform: uppercase;
			margin: 0px 0px 10px 0px;
			color: $green-bg-color;
			letter-spacing: 1.2px;
			box-shadow: -10px 5px 2px rgba(0, 0, 0, 0.2);
			transition: 0.5s;
			@include adaptiv-font(23, 18);
			cursor: pointer;
			img {
				display: block;
				width: 30px;
				height: 30px;
				margin: 0px 10px 0px 0px;
			}
			&:hover {
				box-shadow: none;
			}
		}
	}
}
.main___map {
	grid-area: article;
	@include flex-nowrap-row-center();
	background-color: rgba(0, 0, 0, .5);
	border: 1px solid black;
}

/* Stack the layout on small devices/viewports. */
@media screen and (max-width: 575px) {
	.main-content {
		grid-template-areas:
			"header"
			"article"
			"nav";
		grid-template-rows: 80px 1fr 1fr;
		grid-template-columns: 1fr;
	}
	.nav__country-list{
		padding: 0 10px 0 20px;

	}
}
